!!! 5
%html
  %head
    %script{src: '/socket.io/socket.io.js'}
    :coffee
      socket = io.connect('/')
      socket.emit 'set name', 'tricknotes'
      socket.on 'ready', ->
        window.addEventListener 'error', (e) ->
          {message, lineno, filename} = e
          socket.emit 'client-error', {message, lineno, filename}
  %body
