!!! 5
%html
  %head
    %script{type: 'text/javascript', src: 'http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js'}
    %script{src: '/socket.io/socket.io.js'}
    %style
      :plain
        .messagePanle {
          background-color: rgba(30, 30, 30, 0.7);
          color: rgb(230, 230, 230);
          position: fixed;
          width: 960px;
          height: 300px;
        }
    %script
      var name = '
      =String(name).replace(/'/g, "\\'")
      ';
    :coffee
      do (name) ->
        socket = io.connect('/')
        jQuery ($) ->
          panel = $('<div>')
          panel.attr('class', 'messagePanle')
          panel
            .hide()
            .appendTo($('body'))
            .fadeIn 'slow', ->
          # TODO should render name from req.
          socket.emit 'set name', name
          socket.on 'log', (data) ->
            panel.text JSON.stringify(data)
            console.log(data)
  %body
