!!! 5
%html
  %head
    %link{rel: 'stylesheet', type: 'text/css', href: 'http://boedesign.com/demos/gritter/css/jquery.gritter.css'}
    %style
      :plain
        .messagePanle {
          background-color: rgba(30, 30, 30, 0.7);
          color: rgb(230, 230, 230);
          position: fixed;
          width: 99%;
          height: 50px;
        }
  %body
    %script{type: 'text/javascript', src: 'http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js'}
    %script{type: 'text/javascript', src: 'http://boedesign.com/demos/gritter/js/jquery.gritter.min.js'}
    %script{type: 'text/javascript', src: '/socket.io/socket.io.js'}
    %script
      var name = '
      = String(name).replace(/'/g, "\\'")
      ';
    :coffee
      do (name) ->
        socket = io.connect('/')
        jQuery ($) ->
          panel = $('<div>')
          panel.attr('class', 'messagePanle')
          panel
            .hide()
            .appendTo($('body'))
            .fadeIn 'slow', ->
          socket.emit 'set name', name
          socket.on 'join', (data) -> panel.text 'Join on: '+data
          socket.on 'log', (data) ->
            $.gritter.add(title: 'log', text: JSON.stringify(data))
            console.log(data)
